<a href="./logout">Logout</a>

<form method="POST" action="./regis/add" class="add">
        <input type="text" name="name" placeholder="Account name">
        <textarea name="description" placeholder="Description"></textarea>
        <input type="text" name="url" placeholder="Account URL">
        <input type="text" name="username" placeholder="Account username">
        <input type="text" name="password" placeholder="Account password">
        <input type="submit" value="Submit to Regis">
</form>

<form method="POST" action="./regis/update" class="update">
        <table>
                <thead>
                        <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Service URL</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th></th>
                                <th></th>
                        </tr>
                </thead>
                <tbody>
		</tbody>
	</table>
</form>
