<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="./css/regis.css">
  
  <title>Régis - Your personal account information register </title>
  <script data-main="./js/main" src="./js/require.js"></script>
</head>
<body>
  <div class="talk-bubble"></div>

  <div class="gate">
	<form method="POST" action="./login" class="login">
		<input type="text" name="name" placeholder="User name">
		<input type="password" name="password" placeholder="User password">
		<input type="submit" value="Enter the registry">
	</form>	
  </div>

  <div class="counter">

	<ul class="actions">
		<li><a href="./logout" class="logout">Logout</a></li>
		<li><a href="./regis/upload" class="synchronize">Synchronize your local data</a></li>
	</ul>
	<form method="POST" action="./regis/add" class="add">
		<input type="text" name="name" placeholder="Account name">
		<textarea name="description" placeholder="Description"></textarea>
		<input type="text" name="url" placeholder="Account URL">
		<input type="text" name="username" placeholder="Account username">
		<input type="text" name="password" placeholder="Account password">
		<input type="submit" value="Submit to Regis">
	</form>

	<form method="POST" action="./regis/update" class="update">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Service URL</th>
					<th>Username</th>
					<th>Password</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</form>

  </div>

</body>
</html>
